version: '3'

services:
  server:
    build:
      context: ../server
      dockerfile: Dockerfile
    expose:
      - 4000
    ports:
      - 4000:4000
    volumes:
      - ../server/src:/app/src
    command: npm run start
    restart: always
  client:
    build:
      context: ../client
      dockerfile: Dockerfile
    expose:
      - 3000
    ports:
      - 3000:3000
    volumes:
      - ../client/src:/app/src
    command: npm run start
    restart: always
