.Header {
  background-color: var(--primary-color, gray);
  color: var(--text-color, #000000);
  width: 100%;
  height: 4em;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  padding: 1.1em 0;
  margin: 0 auto;
}

.Header h1 {
  margin: 0em;
  font-size: 1.3em;
  font-weight: 700;
}

@media screen and (max-width: 1150px) {
  .wrapper {
    text-align: center;
  }
}