.Panel {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #f6f7f9;
  transition: transform 200ms ease-in-out 100ms;
  overflow-y: scroll;
}

.actions {
  display: none;
  height: 36px;
  background-color: white;
  border-bottom: 1px solid var(--divider, rgba(200, 200, 200, 1));
  padding: 0.2em;
}

.actions button {
  background-color: unset;
  border: unset;
  font-size: 1em;
  line-height: 1.32em;
  padding: 0.3em 0.6em;
}

.content {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .actions {
    display: block;
  }

  .Panel {
    min-width: 100vw;
  }

  .Panel[active] {
    transform: translateX(-100vw);
    z-index: 5;
  }
}