.Sider {
  margin: 0;
  min-width: 380px;
  max-height: 87vh;
  box-sizing: border-box;
  overflow-y: scroll;
  border-right: 1px dashed var(--divider, rgba(200, 200, 200, 1));
  scrollbar-width: none;
}

.Sider::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 700px) {
  .Sider {
    min-width: 100vw;
    max-height: unset;
    border-right: unset;
    scrollbar-width: thin;
  }
}