.PhoneListItem {
  display: flex;
  align-items: center;
  padding: 1.3em 0em 1.3em 0.9em;
  border-bottom: 1px solid var(--divider, rgb(230, 230, 230));
}

.thumbnail {
  display: flex;
  align-items: center;
  width: 110px;
  height: 110px;
  overflow-y: hidden;
}

.thumbnail img {
  width: 100%;
}

.info {
  padding-left: 0.9em;
}

.info h2 {
  margin: 0.3em 0;
  font-weight: 400;
  font-size: 1.2em;
}

.price {
  margin: 0;
  font-weight: 200;

  font-size: 1.6em;
}